sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
.stl_01 {
	border-style: none;
	position: relative;
	width: 612pt;
	margin: 0pt;
	height: 1008pt;
	display: inline-block;
}
.stl_02 {
	position: absolute;
	left: 0pt;
	top: 0pt;
}
.stl_03 {
	position: absolute;
	line-height: 20.36783pt;
	left: 255.9746pt;
	top: 48.88274pt;
}
@font-face {
	font-family:"TSJIBO+FuturaLT-Bold";
	src:url("167a89ab-0001-0000-0000-000000000000.ttf");
}
.stl_04 {
	color: #222326;
	display: inline;
	font-size: 15.5pt;
	font-family: "TSJIBO+FuturaLT-Bold";
}
.stl_05 {
	position: absolute;
	line-height: 20.36783pt;
	left: 286.214pt;
	top: 67.62614pt;
}
.stl_06 {
	position: absolute;
	line-height: 11.15807pt;
	left: 84.40433pt;
	top: 121.1962pt;
}
@font-face {
	font-family:"CRSASC+FuturaLT";
	src:url("6749a475-0000-0000-0000-000000000000.ttf");
}
.stl_07 {
	color: #070909;
	display: inline;
	font-size: 8.5pt;
	font-family: "CRSASC+FuturaLT";
}
.stl_08 {
	position: absolute;
	line-height: 11.15807pt;
	left: 404.7744pt;
	top: 120.0786pt;
}
.stl_09 {
	position: absolute;
	line-height: 11.15807pt;
	left: 85.97235pt;
	top: 142.9839pt;
}
.stl_10 {
	position: absolute;
	line-height: 11.15807pt;
	left: 244.8883pt;
	top: 142.9839pt;
}
.stl_11 {
	position: absolute;
	line-height: 11.15807pt;
	left: 390.515pt;
	top: 142.9839pt;
}
.stl_12 {
	position: absolute;
	line-height: 11.15807pt;
	left: 116.4752pt;
	top: 156.2298pt;
}
.stl_13 {
	position: absolute;
	line-height: 11.15807pt;
	left: 116.4752pt;
	top: 167.9077pt;
}
.stl_14 {
	position: absolute;
	line-height: 11.15807pt;
	left: 254.9375pt;
	top: 156.2298pt;
}
.stl_15 {
	position: absolute;
	line-height: 11.15807pt;
	left: 255.6479pt;
	top: 167.3272pt;
}
.stl_16 {
	position: absolute;
	line-height: 11.15807pt;
	left: 420.0822pt;
	top: 156.2298pt;
}
.stl_17 {
	position: absolute;
	line-height: 9.752735pt;
	left: 41.3315pt;
	top: 195.8196pt;
}
.stl_18 {
	color: #070909;
	display: inline;
	font-size: 7.5pt;
	font-family: "CRSASC+FuturaLT";
}
.stl_19 {
	position: absolute;
	line-height: 9.752735pt;
	left: 41.3315pt;
	top: 216.2337pt;
}
.stl_20 {
	position: absolute;
	line-height: 9.752735pt;
	left: 41.3315pt;
	top: 236.6478pt;
}
.stl_21 {
	position: absolute;
	line-height: 9.752735pt;
	left: 196.1638pt;
	top: 236.6478pt;
}
.stl_22 {
	position: absolute;
	line-height: 9.752735pt;
	left: 311.2657pt;
	top: 236.6478pt;
}
.stl_23 {
	position: absolute;
	line-height: 9.752735pt;
	left: 398.4573pt;
	top: 236.6478pt;
}
.stl_24 {
	position: absolute;
	line-height: 9.096243pt;
	left: 438.4785pt;
	top: 247.3677pt;
}
.stl_25 {
	color: #070909;
	display: inline;
	font-size: 7pt;
	font-family: "CRSASC+FuturaLT";
}
.stl_26 {
	position: absolute;
	line-height: 9.096243pt;
	left: 487.8722pt;
	top: 247.3677pt;
}
.stl_27 {
	position: absolute;
	line-height: 9.096243pt;
	left: 525.9451pt;
	top: 247.3677pt;
}
.stl_28 {
	position: absolute;
	line-height: 9.752735pt;
	left: 41.3315pt;
	top: 264.9006pt;
}
.stl_29 {
	position: absolute;
	line-height: 9.752735pt;
	left: 41.33905pt;
	top: 285.3147pt;
}
.stl_30 {
	position: absolute;
	line-height: 9.752735pt;
	left: 238.7638pt;
	top: 264.9006pt;
}
.stl_31 {
	position: absolute;
	line-height: 9.752735pt;
	left: 311.2657pt;
	top: 264.9006pt;
}
.stl_32 {
	position: absolute;
	line-height: 9.752735pt;
	left: 399.4568pt;
	top: 264.9006pt;
}
.stl_33 {
	position: absolute;
	line-height: 9.752735pt;
	left: 480.3636pt;
	top: 264.9006pt;
}
.stl_34 {
	position: absolute;
	line-height: 9.752735pt;
	left: 536.6763pt;
	top: 264.9006pt;
}
.stl_35 {
	position: absolute;
	line-height: 9.752735pt;
	left: 196.9588pt;
	top: 285.3147pt;
}
.stl_36 {
	position: absolute;
	line-height: 9.752735pt;
	left: 344.9838pt;
	top: 285.3147pt;
}
.stl_37 {
	position: absolute;
	line-height: 10.10706pt;
	left: 83.0034pt;
	top: 300.6835pt;
}
.stl_38 {
	color: #070909;
	display: inline;
	font-size: 8pt;
	font-family: "CRSASC+FuturaLT";
}
.stl_39 {
	position: absolute;
	line-height: 10.10706pt;
	left: 187.0873pt;
	top: 300.6835pt;
}
.stl_40 {
	position: absolute;
	line-height: 10.10706pt;
	left: 229.2733pt;
	top: 300.6835pt;
}
.stl_41 {
	position: absolute;
	line-height: 7.462662pt;
	left: 447.3022pt;
	top: 304.513pt;
}
.stl_42 {
	color: #070909;
	display: inline;
	font-size: 5.5pt;
	font-family: "TSJIBO+FuturaLT-Bold";
}
.stl_43 {
	position: absolute;
	line-height: 7.462662pt;
	left: 474.1826pt;
	top: 304.513pt;
}
.stl_44 {
	position: absolute;
	line-height: 10.50222pt;
	left: 367.4468pt;
	top: 314.7074pt;
}
.stl_45 {
	position: absolute;
	line-height: 8.667949pt;
	left: 150.708pt;
	top: 316.9765pt;
}
.stl_46 {
	color: #070909;
	display: inline;
	font-size: 6.5pt;
	font-family: "TSJIBO+FuturaLT-Bold";
}
.stl_47 {
	position: absolute;
	line-height: 8.667949pt;
	left: 179.3375pt;
	top: 316.9765pt;
}
.stl_48 {
	position: absolute;
	line-height: 8.667949pt;
	left: 307.3745pt;
	top: 316.9765pt;
}
.stl_49 {
	position: absolute;
	line-height: 8.667949pt;
	left: 336.004pt;
	top: 316.9765pt;
}
.stl_50 {
	position: absolute;
	line-height: 10.50222pt;
	left: 34.3794pt;
	top: 326.5629pt;
}
.stl_51 {
	position: absolute;
	line-height: 10.50222pt;
	left: 206.0972pt;
	top: 326.8282pt;
}
.stl_52 {
	position: absolute;
	line-height: 10.50222pt;
	left: 206.0972pt;
	top: 337.8197pt;
}
.stl_53 {
	position: absolute;
	line-height: 10.50222pt;
	left: 367.4468pt;
	top: 327.2644pt;
}
.stl_54 {
	position: absolute;
	line-height: 10.50222pt;
	left: 367.4468pt;
	top: 339.8214pt;
}
.stl_55 {
	position: absolute;
	line-height: 12pt;
	left: 367.4468pt;
	top: 352.3784pt;
}
.stl_56 {
	position: absolute;
	line-height: 10.50222pt;
	left: 34.3794pt;
	top: 337.5544pt;
}
.stl_57 {
	position: absolute;
	line-height: 10.50222pt;
	left: 34.37939pt;
	top: 348.5458pt;
}
.stl_58 {
	position: absolute;
	line-height: 10.50222pt;
	left: 34.37939pt;
	top: 359.5373pt;
}
.stl_59 {
	position: absolute;
	line-height: 10.50222pt;
	left: 34.37939pt;
	top: 370.5287pt;
}
.stl_60 {
	position: absolute;
	line-height: 10.50222pt;
	left: 34.37939pt;
	top: 381.5202pt;
}
.stl_61 {
	position: absolute;
	line-height: 10.50222pt;
	left: 34.37939pt;
	top: 392.5116pt;
}
.stl_62 {
	position: absolute;
	line-height: 10.50222pt;
	left: 34.37939pt;
	top: 403.5031pt;
}
.stl_63 {
	position: absolute;
	line-height: 10.50222pt;
	left: 34.37939pt;
	top: 414.4945pt;
}
.stl_64 {
	position: absolute;
	line-height: 10.50222pt;
	left: 206.0972pt;
	top: 348.8111pt;
}
.stl_65 {
	position: absolute;
	line-height: 10.50222pt;
	left: 206.0972pt;
	top: 359.8026pt;
}
.stl_66 {
	position: absolute;
	line-height: 10.50222pt;
	left: 206.0972pt;
	top: 370.794pt;
}
.stl_67 {
	position: absolute;
	line-height: 10.50222pt;
	left: 206.0972pt;
	top: 381.7855pt;
}
.stl_68 {
	position: absolute;
	line-height: 10.50222pt;
	left: 206.0972pt;
	top: 392.7769pt;
}
.stl_69 {
	position: absolute;
	line-height: 10.50222pt;
	left: 206.0972pt;
	top: 403.7684pt;
}
.stl_70 {
	position: absolute;
	line-height: 10.50222pt;
	left: 206.0972pt;
	top: 414.7599pt;
}
.stl_71 {
	position: absolute;
	line-height: 10.50222pt;
	left: 206.0972pt;
	top: 425.7513pt;
}
.stl_72 {
	position: absolute;
	line-height: 10.50222pt;
	left: 206.0972pt;
	top: 436.7428pt;
}
.stl_73 {
	position: absolute;
	line-height: 10.50222pt;
	left: 367.4468pt;
	top: 364.9355pt;
}
.stl_74 {
	position: absolute;
	line-height: 10.50222pt;
	left: 367.4468pt;
	top: 377.4925pt;
}
.stl_75 {
	position: absolute;
	line-height: 10.50222pt;
	left: 367.4468pt;
	top: 390.0495pt;
}
.stl_76 {
	position: absolute;
	line-height: 10.50222pt;
	left: 367.4468pt;
	top: 402.6065pt;
}
.stl_77 {
	position: absolute;
	line-height: 10.50222pt;
	left: 367.4468pt;
	top: 415.1635pt;
}
.stl_78 {
	position: absolute;
	line-height: 10.50222pt;
	left: 34.37939pt;
	top: 425.486pt;
}
.stl_79 {
	position: absolute;
	line-height: 10.50222pt;
	left: 367.4468pt;
	top: 427.7205pt;
}
.stl_80 {
	position: absolute;
	line-height: 10.50222pt;
	left: 367.4468pt;
	top: 440.2775pt;
}
.stl_81 {
	position: absolute;
	line-height: 10.50222pt;
	left: 34.37939pt;
	top: 436.4774pt;
}
.stl_82 {
	position: absolute;
	line-height: 10.50222pt;
	left: 34.37939pt;
	top: 447.4689pt;
}
.stl_83 {
	position: absolute;
	line-height: 10.50222pt;
	left: 34.37939pt;
	top: 458.4604pt;
}
.stl_84 {
	position: absolute;
	line-height: 10.50222pt;
	left: 34.37939pt;
	top: 469.4518pt;
}
.stl_85 {
	position: absolute;
	line-height: 10.50222pt;
	left: 34.37939pt;
	top: 480.4433pt;
}
.stl_86 {
	position: absolute;
	line-height: 10.50222pt;
	left: 34.37939pt;
	top: 491.4347pt;
}
.stl_87 {
	position: absolute;
	line-height: 10.50222pt;
	left: 34.37939pt;
	top: 502.4262pt;
}
.stl_88 {
	position: absolute;
	line-height: 10.50222pt;
	left: 34.37939pt;
	top: 513.4177pt;
}
.stl_89 {
	position: absolute;
	line-height: 10.50222pt;
	left: 206.0972pt;
	top: 447.7342pt;
}
.stl_90 {
	position: absolute;
	line-height: 10.50222pt;
	left: 206.0972pt;
	top: 458.7257pt;
}
.stl_91 {
	position: absolute;
	line-height: 10.50222pt;
	left: 206.0972pt;
	top: 469.7171pt;
}
.stl_92 {
	position: absolute;
	line-height: 10.50222pt;
	left: 367.4468pt;
	top: 452.8345pt;
}
.stl_93 {
	position: absolute;
	line-height: 10.50222pt;
	left: 367.4468pt;
	top: 465.3915pt;
}
.stl_94 {
	position: absolute;
	line-height: 12pt;
	left: 367.4468pt;
	top: 477.9485pt;
}
.stl_95 {
	position: absolute;
	line-height: 12pt;
	left: 367.4467pt;
	top: 490.5055pt;
}
.stl_96 {
	position: absolute;
	line-height: 12pt;
	left: 367.4467pt;
	top: 503.0625pt;
}
.stl_97 {
	position: absolute;
	line-height: 12pt;
	left: 367.4467pt;
	top: 515.6196pt;
}
.stl_98 {
	position: absolute;
	line-height: 12pt;
	left: 367.4467pt;
	top: 528.1766pt;
}
.stl_99 {
	position: absolute;
	line-height: 12pt;
	left: 367.3711pt;
	top: 541.1351pt;
}
.stl_100 {
	position: absolute;
	line-height: 12pt;
	left: 367.3711pt;
	top: 554.4792pt;
}
.stl_101 {
	position: absolute;
	line-height: 12pt;
	left: 367.3711pt;
	top: 567.0424pt;
}
.stl_102 {
	position: absolute;
	line-height: 12pt;
	left: 367.3711pt;
	top: 579.5983pt;
}
.stl_103 {
	position: absolute;
	line-height: 12pt;
	left: 367.3711pt;
	top: 592.1541pt;
}
.stl_104 {
	position: absolute;
	line-height: 12pt;
	left: 367.3711pt;
	top: 604.7173pt;
}
.stl_105 {
	position: absolute;
	line-height: 12pt;
	left: 367.3711pt;
	top: 617.2732pt;
}
.stl_106 {
	position: absolute;
	line-height: 12pt;
	left: 367.3711pt;
	top: 629.8364pt;
}
.stl_107 {
	position: absolute;
	line-height: 12pt;
	left: 367.3711pt;
	top: 642.3923pt;
}
.stl_108 {
	position: absolute;
	line-height: 12pt;
	left: 367.3711pt;
	top: 654.1713pt;
}
.stl_109 {
	position: absolute;
	line-height: 12pt;
	left: 367.3711pt;
	top: 666.7283pt;
}
.stl_110 {
	position: absolute;
	line-height: 10.50222pt;
	left: 34.4331pt;
	top: 531.7114pt;
}
.stl_111 {
	position: absolute;
	line-height: 10.50222pt;
	left: 34.4331pt;
	top: 547.3179pt;
}
.stl_112 {
	position: absolute;
	line-height: 10.50222pt;
	left: 34.4331pt;
	top: 558.3094pt;
}
.stl_113 {
	position: absolute;
	line-height: 10.50222pt;
	left: 34.4331pt;
	top: 569.3008pt;
}
.stl_114 {
	position: absolute;
	line-height: 10.50222pt;
	left: 34.4331pt;
	top: 580.2923pt;
}
.stl_115 {
	position: absolute;
	line-height: 10.50222pt;
	left: 34.4331pt;
	top: 591.2838pt;
}
.stl_116 {
	position: absolute;
	line-height: 10.50222pt;
	left: 34.4331pt;
	top: 602.2752pt;
}
.stl_117 {
	position: absolute;
	line-height: 10.50222pt;
	left: 34.4331pt;
	top: 613.2667pt;
}
.stl_118 {
	position: absolute;
	line-height: 9.067906pt;
	left: 367.3711pt;
	top: 680.4254pt;
}
.stl_119 {
	position: absolute;
	line-height: 9.067906pt;
	left: 367.3711pt;
	top: 692.9886pt;
}
.stl_120 {
	position: absolute;
	line-height: 12pt;
	left: 367.3711pt;
	top: 705.5444pt;
}
.stl_121 {
	position: absolute;
	line-height: 12pt;
	left: 367.3711pt;
	top: 718.1076pt;
}
.stl_122 {
	position: absolute;
	line-height: 12pt;
	left: 367.3711pt;
	top: 730.6635pt;
}
.stl_123 {
	position: absolute;
	line-height: 11.56225pt;
	left: 52.6904pt;
	top: 783.2567pt;
}
.stl_124 {
	color: #070909;
	display: inline;
	font-size: 9pt;
	font-family: "CRSASC+FuturaLT";
}
.stl_125 {
	position: absolute;
	line-height: 10.78417pt;
	left: 52.6904pt;
	top: 801.2771pt;
}
.stl_126 {
	position: absolute;
	line-height: 10.78417pt;
	left: 52.6904pt;
	top: 853.7327pt;
}
.stl_127 {
	position: absolute;
	line-height: 10.78417pt;
	left: 61.63255pt;
	top: 925.4792pt;
}
.stl_128 {
	position: absolute;
	line-height: 10.78417pt;
	left: 227.2968pt;
	top: 925.4792pt;
}
.stl_129 {
	position: absolute;
	line-height: 10.78417pt;
	left: 410.2173pt;
	top: 925.4792pt;
}
.stl_130 {
	position: absolute;
	line-height: 10.78417pt;
	left: 82.6528pt;
	top: 959.237pt;
}
body > div {
min-width: 612pt;
min-height: 1008pt;
}
